<% provide(:title, 'Home') %>
<div>
  <h1>Exotemporalis</h1>
</div>
<br>
<%= link_to "Users", users_path, class: "btn btn-lg btn-default" %>
<%= link_to "Reminders", reminders_path, class: "btn btn-lg btn-default" %>
<%= link_to "Notifications", notifications_path, class: "btn btn-lg btn-default" %>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>