<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1>Exotemporalis</h1>

  <p>
    Why are you here? Ben doesn't use this page.
  </p>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
