<% provide(:title, 'Edit Reminder') %>
<h1>Edit Reminder</h1>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Back', reminders_path, class: "btn btn-default" %>
<%= link_to 'Show', @reminder, class: "btn btn-default" %>
